---
interface Props {
    href: string;
    rel?: string;
    isExternal?: boolean;
    class?: string;
}

const { href, rel, isExternal, class: clasList } = Astro.props;
---

<a 
    href={href} class:list={['hover:text-blue-500', clasList]}
    rel={`${rel}${isExternal ? 'nofollow noopener norefferer external' : ''}`}
>
    <slot />
</a>